<div class="form-container">
  <h2>Add a burger to the list, and click the button when you're ready to eat</h2>
  <form id="burger-form">
    <div class="input-wrap">
      <label for="burger-name" class="name-empty" id="burger-label">Enter Burger Name</label>
      <input type="text" id="burger-name">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>